.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  .heading1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moon-div{
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 4%;
    padding-top: 4%;
  }